/* Elements ------------------------------------------- */
body {
	background-color: #f3f3f3;
	font-family: Lato;
}

/* Hx ------------------------------------------- */
h1, h2, h3 {
	font-family: 'Varela Round', 'Lato', 'Sans serif';
}
h2 {
	margin-bottom: 20px;
}

/* Id ------------------------------------------- */
#header {
	margin-bottom: 30px;
}
#content, #results {
	text-align: center;
}
#dataToCheck {
	margin-left : auto;
	margin-right: auto;
	width: 80%;
	height: 200px;
	display: block;
}
#save, #check {
	display: inline-block;
	margin: 20px 0px 0px 20px;
}

/* Classes ------------------------------------------- */
