body {
	background-color: #f3f3f3;
	font-family: Lato;
}
h1, h2, h3 {
	font-family: 'Varela Round', 'Lato', 'Sans serif';
}
h2 {
	margin-bottom: 20px;
}
.message {
	font-weight: bold;
	padding: 0px 30px 0px 30px;
}